html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #000;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.invisible {
  display: none !important; }

button.submit {
  background-color: black;
  border: 1px solid #00a4d9;
  border-radius: 5px;
  color: #9ccef9; }

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  margin: auto;
  display: flex;
  background: #9ccef9;
  opacity: 0.7;
  flex-flow: column;
  justify-content: center; }
  .loading-overlay .padding {
    margin: auto;
    flex: 1 0 auto; }
  .loading-overlay .content {
    margin: auto;
    flex: 1 0 auto; }
    .loading-overlay .content .spinner {
      width: rem(83); }
  .loading-overlay.loading .content .spinner {
    display: block;
    margin: auto; }
  .loading-overlay.loading .content .spin {
    animation: rotate 1.2s linear infinite;
    display: block;
    margin: auto;
    width: 90px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.sign-up {
  border: none;
  padding: 1.07143rem;
  font-size: 1.42857rem;
  width: 100%;
  background-color: #aaaaaa;
  color: #FFFFFF;
  border-radius: 0px;
  margin-top: 15px;
  cursor: pointer; }
  .sign-up:hover {
    background-color: #605f5f; }

.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: #efefef;
  padding: 10px; }
  .login-wrapper .info-section {
    margin: auto;
    margin-bottom: 2.14286rem; }
    .login-wrapper .info-section a {
      text-decoration: none;
      color: #9ccef9; }
      .login-wrapper .info-section a:hover {
        color: #20a5d6; }
      .login-wrapper .info-section a:active {
        color: #efefef; }
  .login-wrapper .logo-header {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400; }
  .login-wrapper h1.logo-header {
    font-weight: 700; }
  .login-wrapper .qtim-logo {
    cursor: pointer;
    text-decoration: none;
    color: #efefef; }
    .login-wrapper .qtim-logo h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 30px;
      margin: 0; }
  .login-wrapper .tcia-logo {
    cursor: pointer;
    text-decoration: none; }
  .login-wrapper .ohif-logo {
    display: block;
    margin: 1.07143rem auto;
    cursor: pointer;
    width: 265px;
    height: 30px;
    text-decoration: none; }
    .login-wrapper .ohif-logo .ohif-icon {
      float: left;
      display: inline-block;
      fill: transparent;
      height: 100%;
      margin: 0 8px 0 0;
      width: 30px; }
    .login-wrapper .ohif-logo .ohif-logo-text {
      float: left;
      display: inline-block;
      font-family: "Sanchez";
      color: white;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      text-decoration: none; }
  .login-wrapper .logo-section {
    padding: 2.85714rem;
    text-align: center; }
    .login-wrapper .logo-section img {
      margin: 0 auto; }
  .login-wrapper .login-form {
    margin: auto;
    max-width: 42.85714rem; }
    .login-wrapper .login-form .submit {
      border: none;
      padding: 1.07143rem;
      font-size: 1.42857rem;
      width: 100%;
      background: #337ab7;
      color: #FFFFFF;
      border-radius: 0px;
      cursor: pointer; }
      .login-wrapper .login-form .submit:hover {
        background-color: #286090; }
      .login-wrapper .login-form .submit .loading {
        animation: rotate 1.2s linear infinite;
        width: 1.42857rem;
        height: 1.07143rem; }
    .login-wrapper .login-form .form-checkbox {
      font-size: 1.78571rem;
      margin-bottom: 1.07143rem; }
    .login-wrapper .login-form .form-input {
      background-color: #ffffff;
      padding: 0.71429rem;
      border: 0.07143rem solid #808080;
      margin-bottom: 1.07143rem;
      position: relative; }
      .login-wrapper .login-form .form-input .input-icon {
        fill: #9ccef9;
        stroke: #9ccef9;
        width: 2.5rem;
        height: 2.14286rem;
        margin-right: 0.71429rem;
        background-color: #efefef;
        float: left; }
        .login-wrapper .login-form .form-input .input-icon.caret {
          position: absolute;
          right: 0px; }
      .login-wrapper .login-form .form-input input, .login-wrapper .login-form .form-input select {
        border: none;
        font-size: 1.64286rem; }
        .login-wrapper .login-form .form-input input:focus, .login-wrapper .login-form .form-input select:focus {
          outline-width: 0; }
      .login-wrapper .login-form .form-input input {
        width: 75%; }
      .login-wrapper .login-form .form-input select {
        background-color: #ffffff;
        -webkit-appearance: none;
        width: 69%; }

.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .viewer-wrapper .top-bar {
    display: flex; }
    .viewer-wrapper .top-bar .viewer-tools {
      flex: 1 0 auto; }
      .viewer-wrapper .top-bar .viewer-tools .commands-wrapper {
        position: absolute;
        top: 5.5rem;
        left: 4.28571rem;
        height: 0;
        z-index: 9;
        padding: 0;
        background: rgba(20, 25, 30, 0.95);
        transition: height 1s;
        overflow: auto; }
        @media (min-width: 500px) {
          .viewer-wrapper .top-bar .viewer-tools .commands-wrapper {
            display: none; } }
        .viewer-wrapper .top-bar .viewer-tools .commands-wrapper.open {
          height: 6.42857rem; }
        .viewer-wrapper .top-bar .viewer-tools .commands-wrapper.border {
          border: solid 0.07143rem #00a4d9;
          padding: 0 0.71429rem 0.71429rem 0.71429rem; }
      .viewer-wrapper .top-bar .viewer-tools .tool {
        display: inline-block;
        text-align: -webkit-center;
        cursor: pointer;
        padding: 0.35714rem; }
        .viewer-wrapper .top-bar .viewer-tools .tool.save, .viewer-wrapper .top-bar .viewer-tools .tool.skip, .viewer-wrapper .top-bar .viewer-tools .tool.clearAll {
          display: none; }
        @media (min-width: 500px) {
          .viewer-wrapper .top-bar .viewer-tools .tool.more {
            display: none; }
          .viewer-wrapper .top-bar .viewer-tools .tool.save, .viewer-wrapper .top-bar .viewer-tools .tool.skip, .viewer-wrapper .top-bar .viewer-tools .tool.clearAll {
            display: inline-block; } }
        .viewer-wrapper .top-bar .viewer-tools .tool.active:hover a {
          color: #20a5d6; }
        .viewer-wrapper .top-bar .viewer-tools .tool.active:hover svg {
          stroke: #20a5d6;
          fill: #20a5d6; }
        .viewer-wrapper .top-bar .viewer-tools .tool.active a {
          color: #20a5d6; }
        .viewer-wrapper .top-bar .viewer-tools .tool.active svg {
          stroke: #20a5d6;
          fill: #20a5d6; }
        .viewer-wrapper .top-bar .viewer-tools .tool:hover a {
          color: #efefef; }
        .viewer-wrapper .top-bar .viewer-tools .tool:hover svg {
          stroke: #efefef;
          fill: #efefef; }
        .viewer-wrapper .top-bar .viewer-tools .tool svg {
          stroke: #9ccef9;
          fill: #9ccef9;
          display: block;
          width: 3rem;
          height: 1.42857rem;
          margin-bottom: 0.35714rem;
          padding: 0.42857rem 0; }
        .viewer-wrapper .top-bar .viewer-tools .tool a {
          text-decoration: none;
          color: #9ccef9;
          margin: 0 0.35714rem 0 0.35714rem; }
  .viewer-wrapper .viewport {
    flex: 1 1 auto;
    border: 1px solid #00a4d9;
    margin: 2px;
    position: relative; }
    .viewer-wrapper .viewport #cornerstoneViewport {
      width: 100%;
      height: 100%;
      position: absolute;
      outline: none; }
    .viewer-wrapper .viewport .dicomTag {
      position: absolute;
      color: #9ccef9;
      z-index: 2;
      text-shadow: 1px 1px black; }
    .viewer-wrapper .viewport #mrbottomrightImageIndex {
      bottom: 0.71429rem;
      right: 0.71429rem; }
    .viewer-wrapper .viewport #mrbottomrightWWWC {
      bottom: 2.14286rem;
      right: 0.71429rem; }
    .viewer-wrapper .viewport #logo-bottom-left {
      position: absolute;
      font-family: 'Montserrat', 'Roboto', sans-serif;
      font-size: 16pt;
      font-weight: 700;
      color: rgba(211, 211, 211, 0.7);
      z-index: 2;
      text-shadow: 1px 1px black;
      bottom: 0.71429rem;
      left: 0.71429rem;
      text-decoration: none;
      cursor: pointer; }
      .viewer-wrapper .viewport #logo-bottom-left:hover {
        color: rgba(211, 211, 211, 0.9); }
    .viewer-wrapper .viewport #loadingIndicator {
      position: absolute;
      width: 100%;
      height: 100%;
      stroke: #9ccef9;
      fill: #9ccef9;
      background-color: rgba(0, 0, 0, 0.75);
      display: none;
      pointer-events: none;
      z-index: 1; }
      .viewer-wrapper .viewport #loadingIndicator svg {
        height: 45px;
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        animation: rotate 1.2s linear infinite; }

.scroll {
  position: absolute;
  right: 0;
  width: 0.71429rem;
  height: 100%;
  top: 0;
  z-index: 2; }
  .scroll .scroll-holder {
    position: relative;
    height: 100%; }
    .scroll .scroll-holder .imageSlider {
      transform: rotate(90deg);
      transform-origin: top left;
      position: absolute;
      width: 100%;
      margin-left: 10px;
      -webkit-appearance: none;
      background-color: transparent; }
      .scroll .scroll-holder .imageSlider:focus {
        outline: none; }
      .scroll .scroll-holder .imageSlider::-moz-focus-outer {
        border: none; }
      .scroll .scroll-holder .imageSlider::-webkit-slider-thumb {
        cursor: -webkit-grab;
        background: #524545;
        -webkit-appearance: none;
        width: 45px;
        height: 20px;
        border-radius: 10px; }
        .scroll .scroll-holder .imageSlider::-webkit-slider-thumb:active {
          background: #00a4d9;
          cursor: -webkit-grabbing; }

.modal {
  position: fixed;
  top: 25%;
  left: calc(50% - 158px);
  padding: 1em;
  background: #fff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
  box-shadow: 0 0.21429rem 0.42857rem rgba(0, 0, 0, 0.25);
  border: 0.07143rem solid #bbb;
  transform: translateY(-100%); }
  .modal.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%); }
  .modal .button-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    .modal .button-holder button {
      flex: 1 0 auto; }
    .modal .button-holder .logout {
      margin-right: 1.42857rem; }
    .modal .button-holder .next-case {
      margin-left: 1.42857rem; }

.error-modal {
  position: fixed;
  top: 25%;
  left: calc(50% - 135px);
  padding: 1em;
  background: #fff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
  box-shadow: 0 0.21429rem 0.42857rem rgba(0, 0, 0, 0.25);
  border: 0.07143rem solid #bbb;
  transform: translateY(-100%); }
  .error-modal.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%); }
  .error-modal .button-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    .error-modal .button-holder button {
      flex: 1 0 auto; }
    .error-modal .button-holder .logout {
      margin-right: 1.42857rem; }
    .error-modal .button-holder .next-case {
      margin-left: 1.42857rem; }

.menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  border-left: 0.07143rem solid #9ccef9;
  background-color: #000;
  color: #9ccef9;
  z-index: 100;
  transition: all 1s; }
  .menu-wrapper.opened {
    width: 11.42857rem; }
  .menu-wrapper ul {
    list-style-type: none; }
    .menu-wrapper ul li {
      margin-bottom: 0.71429rem; }
      .menu-wrapper ul li.separator {
        border: 0.07143rem solid #9ccef9;
        height: 0px; }
      .menu-wrapper ul li a {
        color: #9ccef9;
        text-decoration: none; }

#loading-progress {
  color: #9ccef9;
  z-index: 2;
  position: absolute;
  padding: 5px; }
