html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #000; }

.invisible {
  display: none !important; }

.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%; }
  .login-wrapper form {
    border: #000 solid 1px;
    padding: 15px;
    border-radius: 5px;
    margin: auto; }
    .login-wrapper form .form-input {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .login-wrapper form .form-input label {
        margin-right: 5px; }
    .login-wrapper form button.submit {
      float: right; }
      .login-wrapper form button.submit img.loading {
        width: 11px;
        position: relative;
        top: 1px; }

.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .viewer-wrapper .viewport {
    flex: 1 1 auto;
    border: 0.07143rem solid #00a4d9;
    margin: 5px;
    position: relative; }
    .viewer-wrapper .viewport #conerstoneViewport {
      width: 100%;
      height: calc(100% - 10px);
      position: absolute; }

.scroll {
  background-color: #ff0000;
  height: 0.71429rem;
  bottom: 0px;
  position: absolute;
  width: 100%; }
  .scroll .thumb {
    background-color: #ffffff;
    height: 0.71429rem; }
