html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden; }

.invisible {
  display: none !important; }

button.submit {
  background-color: black;
  border: 1px solid #00a4d9;
  border-radius: 5px;
  color: #9ccef9; }

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  margin: auto;
  display: flex;
  background: #9ccef9;
  opacity: 0.7;
  flex-flow: column;
  justify-content: center; }
  .loading-overlay .padding {
    margin: auto;
    flex: 1 0 auto; }
  .loading-overlay .content {
    margin: auto;
    flex: 1 0 auto; }
    .loading-overlay .content .spinner {
      width: rem(83); }
    .loading-overlay .content .spinner, .loading-overlay .content .submit-text {
      display: none; }
  .loading-overlay.loading .content .spinner, .loading-overlay.submitting .content .spinner {
    display: block; }
  .loading-overlay.submitting .content .submit-text {
    display: block; }

.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: #efefef; }
  .login-wrapper .login-box {
    border: #00a4d9 solid 0.07143rem;
    padding: 1.07143rem;
    border-radius: 0.35714rem;
    margin: auto; }
    .login-wrapper .login-box button.signup {
      /*float: right;*/
      height: 2rem;
      width: 100%; }
    .login-wrapper .login-box .clear-both {
      clear: both; }
    .login-wrapper .login-box .signup-divider {
      margin: 0.5rem 0 0.5rem 0;
      color: #9ccef9;
      text-align: center; }
    .login-wrapper .login-box form .form-input {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.71429rem;
      color: #9ccef9; }
      .login-wrapper .login-box form .form-input label {
        margin-right: 0.35714rem; }
    .login-wrapper .login-box button.submit {
      float: right;
      width: 100%; }
      .login-wrapper .login-box button.submit img.loading {
        width: 0.71429rem;
        position: relative;
        top: 0.07143rem; }

.signup-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: #efefef; }
  .signup-wrapper form {
    border: #00a4d9 solid 0.07143rem;
    padding: 1.07143rem;
    border-radius: 0.35714rem;
    margin: auto; }
    .signup-wrapper form .form-input {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.71429rem;
      color: #9ccef9; }
      .signup-wrapper form .form-input label {
        margin-right: 0.35714rem; }
    .signup-wrapper form button.submit {
      float: right; }
      .signup-wrapper form button.submit img.loading {
        width: 0.71429rem;
        position: relative;
        top: 0.07143rem; }

.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .viewer-wrapper .top-bar {
    display: flex; }
    .viewer-wrapper .top-bar .viewer-tools {
      flex: 1 0 auto; }
      .viewer-wrapper .top-bar .viewer-tools .tool {
        display: inline-block;
        text-align: -webkit-center;
        cursor: pointer; }
        .viewer-wrapper .top-bar .viewer-tools .tool.active a {
          color: #efefef; }
        .viewer-wrapper .top-bar .viewer-tools .tool.active svg {
          stroke: #efefef; }
          .viewer-wrapper .top-bar .viewer-tools .tool.active svg.tool-img {
            border: 0.07143rem solid #efefef;
            border-radius: 1.21429rem;
            width: 2.85714rem;
            background-color: #16202b;
            padding: 0.35714rem 0; }
        .viewer-wrapper .top-bar .viewer-tools .tool svg {
          stroke: #9ccef9;
          fill: #9ccef9;
          display: block;
          width: 3rem;
          height: 1.42857rem;
          margin-bottom: 0.71429rem;
          padding: 0.42857rem 0; }
        .viewer-wrapper .top-bar .viewer-tools .tool a {
          text-decoration: none;
          color: #9ccef9;
          margin: 0 0.35714rem 0 0.35714rem; }
  .viewer-wrapper .viewport {
    flex: 1 1 auto;
    border: 1px solid #00a4d9;
    margin: 2px;
    position: relative; }
    .viewer-wrapper .viewport #cornerstoneViewport {
      width: 100%;
      height: 100%;
      position: absolute; }

.scroll {
  position: absolute;
  right: 0;
  width: 0.71429rem;
  height: 100%;
  top: 0; }
  .scroll .scroll-holder {
    position: relative;
    height: 100%; }
    .scroll .scroll-holder .imageSlider {
      transform: rotate(90deg);
      transform-origin: top left;
      position: absolute;
      width: 57.14286rem;
      margin-left: 10px;
      -webkit-appearance: none;
      background-color: transparent; }
      .scroll .scroll-holder .imageSlider:focus {
        outline: none; }
      .scroll .scroll-holder .imageSlider::-moz-focus-outer {
        border: none; }
      .scroll .scroll-holder .imageSlider::-webkit-slider-thumb {
        cursor: pointer;
        background: #00a4d9;
        -webkit-appearance: none;
        width: 30px;
        height: 10px;
        border-radius: 10px; }

.modal {
  position: fixed;
  top: 25%;
  left: calc(50% - 135px);
  padding: 1em;
  background: #fff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
  box-shadow: 0 0.21429rem 0.42857rem rgba(0, 0, 0, 0.25);
  border: 0.07143rem solid #bbb;
  transform: translateY(-100%); }
  .modal.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%); }
  .modal .button-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    .modal .button-holder button {
      flex: 1 0 auto; }
    .modal .button-holder .logout {
      margin-right: 1.42857rem; }
    .modal .button-holder .next-case {
      margin-left: 1.42857rem; }

.error-modal {
  position: fixed;
  top: 25%;
  left: calc(50% - 135px);
  padding: 1em;
  background: #fff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
  box-shadow: 0 0.21429rem 0.42857rem rgba(0, 0, 0, 0.25);
  border: 0.07143rem solid #bbb;
  transform: translateY(-100%); }
  .error-modal.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%); }
  .error-modal .button-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    .error-modal .button-holder button {
      flex: 1 0 auto; }
    .error-modal .button-holder .logout {
      margin-right: 1.42857rem; }
    .error-modal .button-holder .next-case {
      margin-left: 1.42857rem; }

.menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  border-left: 0.07143rem solid #9ccef9;
  background-color: #000;
  color: #9ccef9;
  z-index: 100;
  transition: all 1s; }
  .menu-wrapper.opened {
    width: 11.42857rem; }
  .menu-wrapper ul {
    list-style-type: none; }
    .menu-wrapper ul li {
      margin-bottom: 0.71429rem; }
      .menu-wrapper ul li.separator {
        border: 0.07143rem solid #9ccef9;
        height: 0px; }
      .menu-wrapper ul li a {
        color: #9ccef9;
        text-decoration: none; }

#loading-progress {
  color: #9ccef9; }
