.modal {
  position: fixed;
  top: 25%;
  left: calc(50% - 158px);
  padding: 1em;
  background: #fff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;

  box-shadow: 0 rem(3) rem(6) rgba(0,0,0,0.25);
  border: rem(1) solid #bbb;

  transform: translateY(-100%);

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
  }

  .button-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    button {
      flex: 1 0 auto;
    }

    .logout {
      margin-right: rem(20);
    }

    .next-case {
      margin-left: rem(20);
    }
  }
}