@value globals: "../../GlobalStyles.css";
@value defaultColor, activeColor, hoverColor from globals;

.ToolbarButton {
  width: 48px;
  height: 48px;
  color: defaultColor;
  float: left;
  padding: 0 10px;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ToolbarButton svg {
  height: 30px;
  width: 48px;
  fill: defaultColor;
  stroke: defaultColor;
}

.ToolbarButton:hover {
  color: hoverColor;
}

.ToolbarButton:hover svg {
  fill: hoverColor;
  stroke: hoverColor;
}

.ToolbarButton.active,
.ToolbarButton:active {
  color: activeColor;
}

.ToolbarButton.active svg,
.ToolbarButton:active svg {
  fill: activeColor;
  stroke: activeColor;
}

.ToolbarButton span {
  font-size: 14px;
  width: 100%;
  text-align: center;
}
