@value globals: "../../GlobalStyles.css";
@value screen-lg, defaultColor from globals;

.ToolbarSection {
  position: absolute;
  background-color: black;
  border-radius: 8px;
  border: solid 1px #4a4d7a;
  padding: 10px;
  z-index: 100;
  max-width: 100%;
  top: 90px;
  margin: 10px;
  display: none;
}

.mobileToolbar {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.mobileToolbar .wlPresets {
  display: inline-block;
  border-radius: 8px;
  border: solid 1px #4a4d7a;
  padding: 0 4px;
}

.mobileToolbar .ToolbarButton {
  display: inline-block;
  padding: 8px 7px;
  height: auto;
}

.mobileToolbar .presetSelected {
  color: defaultColor;
  display: block;
}

.mobileToolbar .tools {
  display: inline-block;
}

.mobileToolbar .tools svg,
.mobileToolbar .wlPresets svg {
  height: 20px;
  width: 20px;
}

.mobileToolbar .tools span,
.mobileToolbar .wlPresets span {
  display: none;
}

@media (min-width: screen-lg) {
  .ToolbarSection {
    margin: 17px 0 0 0;
    display: inline-block;
    flex: 1 1 auto;
    position: initial;
    background-color: initial;
    border-radius: none;
    border: none;
    padding: initial;
    z-index: initial;
    top: initial;
  }
  .mobileToolbar {
    display: none;
  }
}
