@value globals: "../../GlobalStyles.css";
@value screen-sm, screen-md, defaultColor from globals;

.ToolbarSection {
  border-radius: 8px;
  display: none;
  margin-top: 17px;
  z-index: 100;
}

@media (min-width: screen-sm) {
  .ToolbarSection {
    display: flex;
    margin-top: 10px;
  }

  .ToolbarSection .wlPresets,
  .ToolbarSection .tools {
    display: flex;
  }

  .ToolbarSection .wlPresets {
    border-radius: 8px;
    border: solid 1px #4a4d7a;
    display: table;
    padding: 0 4px;
    position: relative;
  }

  .ToolbarSection .presetSelected {
    bottom: -22px;
    color: defaultColor;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
  }

  .ToolbarSection .tools svg,
  .ToolbarSection .wlPresets svg {
    height: 20px;
    width: 20px;
  }

  .ToolbarSection .ToolbarButton {
    display: inline-block;
    height: auto;
    min-width: auto;
    padding: 8px 7px;
  }

  .ToolbarSection .tools .caption,
  .ToolbarSection .wlPresets .caption {
    display: none;
  }
}

@media (min-width: screen-md) {
  .mobileToolbar {
    display: none;
  }

  .ToolbarSection {
    flex-direction: row-reverse;
  }

  .ToolbarSection .wlPresets {
    border: 0;
    padding: 0;
  }

  .ToolbarSection .presetSelected {
    display: none;
  }

  .ToolbarSection .tools svg,
  .ToolbarSection .wlPresets svg {
    height: 30px;
    width: 30px;
  }

  .ToolbarSection .ToolbarButton {
    min-width: 48px;
  }

  .ToolbarSection .tools .caption,
  .ToolbarSection .wlPresets .caption {
    display: block;
  }
}
