@value globals: "../GlobalStyles.css";
@value activeColor, uiGrayDark, textSecondaryColor from globals;

.CaseFeedback {
  display: inline-block;
  transition: all 0.3s linear;
}

.CaseFeedback .feedback-button {
  border-radius: 9px;
  border: solid 3px #000000;
  background-color: #14132d;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 15px;
  cursor: pointer;
}

.CaseFeedback .arrow-down {
  width: 0;
  height: 0;
  border: 5px solid white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
  top: 12px;
  right: 0px;
  margin-left: 10px;
}

.CaseFeedback .feedback-options {
  display: block;
  position: absolute;
  z-index: 50;
  background-color: #1e1d32;
  border-radius: 9px;
  padding: 6px 16px 16px 16px;
  margin-top: 16px;
}

.CaseFeedback .feedback-options:before {
  content: '';
  width: 0;
  height: 0;
  border: 12px solid #1e1d32;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -24px;
  left: 70px;
}

.CaseFeedback .feedback-options ul {
  padding-left: 0;
  margin-top: 0;
}

.CaseFeedback .feedback-options li {
  padding: 5px 0;
  list-style: none;
  color: white;
}

.CaseFeedback .feedback-options li label {
  padding: 5px 0;
  cursor: pointer;
}

.CaseFeedback .feedback-options .customCheckbox {
  margin-right: 20px;
  cursor: pointer;
}

.CaseFeedback .feedback-options .buttom {
  display: block;
  width: 100%;
  margin-top: 15px;
  height: 40px;
}

.CaseFeedback .feedback-options li.active {
  color: activeColor;
}

.CaseFeedback .button {
  display: none;
}
