@value globals: "../GlobalStyles.css";
@value activeColor from globals;

.CaseProgressIndicator {
  color: activeColor;
}

.CaseProgressIndicator .casesLabel {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #b8b9f2;
  width: 104px;
  vertical-align: middle;
}

.CaseProgressIndicator .cases {
  border-radius: 7px;
  background-color: #7cf4fe;
  border: solid 2px #000000;
  color: black;
  padding: 5px 7px;
  margin-right: 10px;
  display: inline-block;
}
