.CaseControlButtons {
  display: inline-flex;
  flex: 1 1 auto;
}

.CaseControlButtons button {
  height: 50px;
  padding: 0 15px;
  font-size: 15px;
  cursor: pointer;
  opacity: 1;
  border-radius: 9px;
  border: solid 1px #000000;
  background-color: #b894fe;
  font-weight: bold;
}

.CaseControlButtons button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.CaseControlButtons .btn-group {
}
