.CaseControlButtons {
  padding-top: 13px;
}

@media (min-width: screen-md) {
  .CaseControlButtons {
    margin-right: 35px;
    margin-left: 20px;
  }
}

.CaseControlButtons .CompleteButtonWrapper {
  display: inline-block;
}

.CaseControlButtons button {
  height: 50px;
  margin-top: -2px;
  padding: 0 15px;
  font-size: 15px;
  cursor: pointer;
  opacity: 1;
  border-radius: 9px;
  border: solid 3px #000000;
  background-color: #b894fe;
  font-weight: bold;
  outline: none;
  transition: all 0.3s ease;
  vertical-align: middle;
}

.CaseControlButtons button svg {
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 6px;
}

.CaseControlButtons button span {
  padding: 10px 8px;
  float: left;
}

.CaseControlButtons button:disabled {
  cursor: not-allowed;
  background-color: #65518c;
}

.CaseControlButtons button:not(:disabled):hover {
  background-color: #8a4eff;
}

.CaseControlButtons button:not(:disabled):active {
  background-color: white;
}

.CaseControlButtons .btn-group {
  display: inline-block;
  margin-left: 15px;
}
