@value globals: "../GlobalStyles.css";
@value activeColor, uiGrayDark, textSecondaryColor from globals;

.CaseFeedback {
  display: inline-block;
  transition: all 0.3s linear;
  position: relative;
}

.CaseFeedback .feedback-button {
  border-radius: 9px;
  border: solid 3px #000000;
  color: white;
  background-color: #262548;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 15px;
  cursor: pointer;
}

.CaseFeedback .feedback-button:disabled {
  background-color: #14132d;
  color: #8684bf;
  cursor: not-allowed;
}

.CaseFeedback .feedback-button:not(:disabled):hover {
  background-color: #2e2d65;
}

.CaseFeedback .feedback-button:not(:disabled):active,
.CaseFeedback .feedback-button.active {
  background-color: #14132d;
}

.CaseFeedback .arrow-down {
  width: 0;
  height: 0;
  border: 5px solid white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
  top: 12px;
  right: 0px;
  margin-left: 10px;
}

.CaseFeedback .arrow-up {
  width: 0;
  height: 0;
  border: 5px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
  top: -12px;
  right: 0px;
  margin-left: 10px;
}

.CaseFeedback .feedback-options {
  display: block;
  position: absolute;
  z-index: 50;
  background-color: #1e1d32;
  border-radius: 9px;
  padding: 6px 16px 16px 16px;
  margin-top: 16px;
}

.CaseFeedback .feedback-options.opens-down:before {
  content: '';
  width: 0;
  height: 0;
  border: 12px solid #1e1d32;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
}

.CaseFeedback .feedback-options.opens-up:before {
  content: '';
  width: 0;
  height: 0;
  border: 12px solid #1e1d32;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
}

.CaseFeedback .feedback-options.opens-down:before {
  top: -24px;
  left: 70px;
}

.CaseFeedback .feedback-options.opens-up:before {
  bottom: -24px;
  left: 70px;
}

.CaseFeedback .feedback-options {
  width: 244px;
}

.CaseFeedback .feedback-options.opens-up {
  top: -461px;
  width: 244px;
}

.CaseFeedback .feedback-options ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 3px;
}

.CaseFeedback .feedback-options li {
  padding: 1.5px 0;
  list-style: none;
  color: white;
}

.CaseFeedback .feedback-options .button {
  display: block;
  width: 100%;
  margin-top: 8px;
  height: 40px;
}

.CaseFeedback .button {
  display: none;
}
