@value globals: "../GlobalStyles.css";
@value activeColor, hoverColor, uiBlack from globals;
@value screen-sm from globals;

.CaseProgress {
  margin-bottom: 17px;
}

.CaseProgress .sessionCount {
  background-color: #472e93;
  height: 68px;
  padding: 9px 11px;
  position: relative;
  width: 146px;
}

.CaseProgress .sessionCount .value {
  color: activeColor;
  font-size: 52px;
  font-weight: 600;
  line-height: 50px;
}

.CaseProgress > *:first-child {
  border-radius: 9px 0 0 9px;
}

.CaseProgress > *:last-child {
  border-radius: 0 9px 9px 0;
}

.CaseProgress .icon {
  background-color: #3b2d66;
  border-left: 2px solid uiBlack;
  cursor: pointer;
  height: 68px;
  text-align: center;
  width: 90px;
}

.CaseProgress .icon svg {
  display: inline-block;
  fill: activeColor;
  height: 24px;
  margin: 12px 0 4px;
  stroke: activeColor;
  width: 24px;
}

.CaseProgress .icon div {
  color: activeColor;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
}

@media (min-width: screen-sm) {
  .CaseProgress .icon svg {
    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  .CaseProgress .icon div {
    transition: color 0.3s ease;
  }

  .CaseProgress .icon {
    transition: background-color 0.3s ease;
  }

  .CaseProgress .icon:hover {
    background-color: #140046;
  }

  .CaseProgress .icon:hover svg {
    fill: hoverColor;
    stroke: hoverColor;
  }

  .CaseProgress .icon:hover div {
    color: hoverColor;
  }
}

/* Increment label */

.CaseProgress .sessionCount .increment {
  background-color: #00d5ae;
  border: 3px solid uiBlack;
  border-radius: 24px;
  color: #15125e;
  font-size: 21px;
  font-weight: 600;
  height: 35px;
  line-height: 29px;
  opacity: 0;
  padding: 0 12px;
  position: absolute;
  top: 0;
  transform: translate(-60%, -60%);
  transition: opacity 0.3s linear;
  left: 0;
}

.CaseProgress .sessionCount .increment.visible {
  opacity: 1;
}

.CaseProgress .sessionCount .increment.slideIn {
  animation: slideIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.CaseProgress .sessionCount .increment.shift {
  animation: shiftInOut 0.3s ease-in;
}

.CaseProgress .sessionCount .increment.hidden {
  animation: slideOut 0.3s ease;
}

@keyframes slideIn {
  0% {
    transform: translate(-60%, 33px);
  }
  100% {
    transform: translate(-60%, -60%);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(-60%, -60%);
  }
  50% {
    transform: translate(-60%, 20%);
  }
  100% {
    transform: translate(-60%, -200%);
  }
}

@keyframes shiftInOut {
  0% {
    transform: translate(-60%, -60%);
  }
  50% {
    transform: translate(-80%, -60%);
  }
  100% {
    transform: translate(-60%, -60%);
  }
}
