@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textActiveColor, viewerHeaderColor from globals;

.HeaderSection {
  background-color: viewerHeaderColor;
}

.HeaderSection button {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.15s ease;
  color: white;
}

.HeaderSection button:hover {
  opacity: 0.7;
}

.HeaderSection button:active {
  opacity: 1;
  color: textActiveColor;
}

.HeaderSection .logoText {
  color: textPrimaryColor;
  font-size: 20px;
  font-weight: bold;
}

.HeaderSection .logoText.highlight {
  color: textActiveColor;
}

.HeaderSection .logo {
  display: inline-block;
  margin: 16px 0 14px 20px;
}

.HeaderSection .endSession,
.HeaderSection .instructionsSection,
.HeaderSection .dashboardSection {
  float: right;
  margin: 20px 20px 16px 20px;
}

.HeaderSection .link {
  font-size: 15px;
  text-decoration: none;
}

.HeaderSection .caseProgress {
  float: right;
  padding: 12px 5px 12px 14px;
  border-left: solid 1px #4a4d7a;
}

.HeaderSection .instructionsSection .instructions {
  font-size: 15px;
  text-decoration: none;
}
