.MeasurementControl {
  padding-top: 17px;
}

.MeasurementControl .controls {
  border-radius: 8px;
  border: solid 1px #4a4d7a;
  background-color: #000000;
  padding: 10px 0;
  height: 45px;
}

.MeasurementControl .controls .number {
  font-size: 20px;
  color: #7cf4fe;
  margin: 0 10px;
}

.MeasurementControl .controls .left-arrow,
.MeasurementControl .controls .right-arrow {
  border: 7px solid #7cf4fe;
  border-top-color: transparent;
  border-bottom-color: transparent;
  display: inline-block;
  width: 0;
  height: 0;
}

.MeasurementControl .controls .arrow-container {
  cursor: pointer;
  transition: 0.15s all ease;
}

.MeasurementControl .controls .arrow-container .arrow {
  transition: 0.15s all ease;
}

.MeasurementControl .controls.disabled .arrow-container {
  background-color: #262548;
  cursor: not-allowed;
}

.MeasurementControl .controls.disabled .arrow-container > .arrow {
  border: 7px solid #3a5874;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.MeasurementControl .controls:not(.disabled) .arrow-container:hover {
  background-color: #0f373b;
}

.MeasurementControl .controls:not(.disabled) .arrow-container:active {
  background-color: #7cf4fe;
}

.MeasurementControl .controls:not(.disabled) .arrow-container:active > .arrow {
  border: 7px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.MeasurementControl .controls .arrow-container:active > .left-arrow {
  border-left: 0px;
}

.MeasurementControl .controls .arrow-container:active > .right-arrow {
  border-right: 0px;
}

.MeasurementControl .controls.disabled .arrow-container > .left-arrow {
  border-left: 0px;
}

.MeasurementControl .controls.disabled .arrow-container > .right-arrow {
  border-right: 0px;
}

.MeasurementControl .controls .right-arrow {
  border-right: 0px;
  margin-left: 2px;
}

.MeasurementControl .controls .left-arrow {
  border-left: 0px;
  margin-right: 2px;
}

.MeasurementControl .controls .previous,
.MeasurementControl .controls .next {
  width: 22px;
  height: 22px;
  display: inline-block;
  background: #262548;
  border-radius: 50%;
  margin: 0 10px;
  padding: 3px 0px 0px 6px;
}

.MeasurementControl .lesions {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #7cf4fe;
  margin: 7px;
}
