$max-screen-size-for-more-option: 500px;

.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  .top-bar {
    display: flex;

    .viewer-tools {
      flex: 1 0 auto;

      .commands-wrapper {
        position: absolute;
        top: rem(77);
        left: rem(17);
        height: 0;
        z-index: 9;
        padding: 0;
        background: rgba(20,25,30,0.95);
        transition: height 1s;
        overflow: auto;
        width: rem(331);

        @media (min-width: $max-screen-size-for-more-option) {
          display: none;
        }

        &.open {
          height: rem(75);
        }

        &.border {
          border: solid rem(1) $blue;
          padding: 0 rem(10) rem(10) rem(10);
        }
      }

      .tool {
        display: inline-block;
        text-align: -webkit-center;
        cursor: pointer;
        padding: rem(5);

        &.save, &.skip, &.clearAll, &.stackScroll {
          display: none;
        }

        @media (min-width: $max-screen-size-for-more-option) {
          &.more {
            display: none;
          }

          &.save, &.skip, &.clearAll, &.stackScroll {
            display: inline-block;
          }
        }

        &.active {
          &:hover {
            a {
              color: $dark-blue;
            }
            svg {
              stroke: $dark-blue;
              fill: $dark-blue;
            }
          }

          a {
            color: $dark-blue;
          }

          svg {
            stroke: $dark-blue;
            fill: $dark-blue;
          }
        }

        &:hover {
          a {
            color: $white;
          }

          svg {
            stroke: $white;
            fill: $white;
          }
        }

        svg {
          stroke: $light-blue;
          fill: $light-blue;
          display: block;
          width: rem(42);
          height: rem(20);
          margin-bottom: rem(5);
          padding: rem(6) 0;
        }

        a {
          text-decoration: none;
          color: $light-blue;
          margin: 0 rem(5) 0 rem(5);
        }
      }
    }
  }

  .viewport {
    flex: 1 1 auto;
    border: 1px solid $blue;
    margin: 2px;
    position: relative;

    #cornerstoneViewport {
      width: 100%;
      height: 100%;
      position: absolute;
      outline: none;
    }

    .dicomTag {
      position: absolute;
      color: $light-blue;
      z-index: 2;
      text-shadow: 1px 1px black;
    }

    #patient-id-upper-right {
      color: $light-blue;
      position: absolute;
      top: rem(10);
      right: rem(25); // room for scrollbar
    }

    #category-upper-right {
      color: $light-blue;
      position: absolute;
      top: rem(30);
      right: rem(25); // room for scrollbar
    }

    #mrbottomrightImageIndex {
      bottom: rem(10);
      right: rem(10);
    }

    #mrbottomrightWWWC {
      bottom: rem(30);
      right: rem(10);
    }

    #logo-bottom-left {
      position: absolute;
      font-family: 'Montserrat', 'Roboto', sans-serif;
      font-size: 16pt;
      font-weight: 700;
      color: rgba(211,211,211, 0.7);
      z-index: 2;
      text-shadow: 1px 1px black;
      bottom: rem(30);
      left: rem(10);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: rgba(211,211,211, 0.9);
      }
    }

    #username-bottom-left {
      position:absolute;
      bottom: rem(10);
      left: rem(10);
      color: $light-blue;
    }

    #loadingIndicator {
      position: absolute;
      width: 100%;
      height: 100%;
      stroke: $light-blue;
      fill: $light-blue;
      background-color: rgba(0,0,0,0.75);
      display: none;
      pointer-events: none; // Necessary for click-through to cornerstone element below
      z-index: 1;

      svg {
        height: 45px;
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        animation: rotate 1.2s linear infinite;
      }
    }
  }
}

.scroll {
  position: absolute;
  right: 0;
  width: rem(10);
  height: 100%;
  top: 0;
  z-index: 2;

  .scroll-holder {
    position: relative;
    height: 100%;

    .imageSlider {
      transform: rotate(90deg);
      transform-origin: top left;
      position: absolute;
      width: 100%;
      margin-left: 10px;
      -webkit-appearance: none;
      background-color: rgba(0,0,0,0);

      &:focus {
        outline: none;
      }

      &::-moz-focus-outer {
        border: none;
      }

      &::-webkit-slider-thumb {
        cursor: -webkit-grab;
        background: rgb(82, 69, 69);
        -webkit-appearance: none;
        width: 45px;
        height: 20px;
        border-radius: 10px;

        &:active {
          background: $blue;
          cursor: -webkit-grabbing;
        }
      }
    }
  }
}
