@value globals: "../GlobalStyles.css";
@value screen-sm, screen-md from globals;

.Viewer {
  height: 100%;
  width: 100%;
  background-color: black;
}

.Viewer .LoadingIndicator {
  background: black !important;
}

.Viewer .toolbar-row {
  display: flex;
  width: 100%;
}

.Viewer .viewport-section {
  bottom: 0;
  display: flex;
  height: calc(100% - 122px);
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.Viewer .HeaderSection {
  position: relative;
  z-index: 1;
}

.Viewer .viewport-section .viewport {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  width: 100%;
}

.Viewer .ViewportControl {
  left: 16px;
  position: fixed;
  top: 40px;
}

.Viewer .SessionControl {
  position: fixed;
  right: 32px;
  top: 44px;
}

.Viewer .Logo {
  display: none;
  font-size: 15px;
  left: 27px;
  line-height: 18px;
  position: fixed;
  top: 19px;
}

.Viewer .ViewportOverlay {
  display: none;
}

.Viewer .ViewportOverlay .top-left {
  top: 10px;
}

.Viewer .ViewportOverlay .bottom-left,
.Viewer .ViewportOverlay .top-left {
  left: 27px;
}

.Viewer .ViewportOverlay .bottom-right {
  right: 32px;
}

@media (min-width: screen-sm) {
  .Viewer .ViewportOverlay {
    display: block;
  }

  .Viewer .viewport-section {
    height: calc(100% - 100px);
  }

  .Viewer .ViewportControl {
    top: 18px;
  }

  .Viewer .SessionControl {
    top: 22px;
  }
}

@media (min-width: screen-md) {
  .Viewer .viewport-section {
    height: calc(100% - 122px);
  }

  .Viewer .Logo {
    display: block;
  }

  .Viewer .ViewportControl {
    top: 40px;
  }

  .Viewer .SessionControl {
    top: 44px;
  }
}
