.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  .top-bar {
    display: flex;

    .viewer-tools {
      flex: 1 0 auto;
      .tool {
        display: inline-block;
        text-align: -webkit-center;

        &.active {
          a {
            color: $white;
          }
          svg {
            stroke: $white;

            &.tool-img {
              border: rem(1) solid $white;
              border-radius: rem(17);
              width: rem(40);
              background-color: $light-black;
              padding: rem(5) 0;
            }
          }
        }

        svg {
          stroke: $light-blue;
          fill: $light-blue;
          display: block;
          width: rem(42);
          height: rem(20);
          margin-bottom: rem(10);
          padding: rem(6) 0;
        }

        a {
          text-decoration: none;
          color: $light-blue;
          margin: 0 rem(5) 0 rem(5);
        }
      }
    }
  }

  .viewport {
    flex: 1 1 auto;
    border: rem(1) solid $blue;
    margin: rem(5);
    position: relative;

    #cornerstoneViewport {
      width: calc(100% - 10px);
      height: 100%;
      position: absolute;
    }
  }
}

.scroll {
  background-color: $black;
  height: 100%;
  right: 0px;
  position: absolute;
  width: rem(10);

  .thumb {
    background-color: $blue;
    width: rem(10);
    border-radius: rem(10);
  }
}