.viewer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  // .left-sidebar {
  //   background-color: #000;

  //   .viewer-tools {
  //     width: rem(200);

  //     a {
  //       stroke: #9ccef9;
  //       text-decoration: none;

  //       svg {
  //         width: rem(30);
  //         height: rem(30);
  //       }
  //     }

  //     a.active {
  //       color: #efefef;
  //       stroke: #efefef;
  //     }
  //   }
  // }

  .viewport {
    flex: 1 1 auto;
    border: rem(1) solid #00a4d9;
    margin: 5px;
    position: relative;

    #conerstoneViewport {
      width: 100%;
      height: calc(100% - 10px);
      position: absolute;
    }
  }
}

.scroll {
  background-color: #ff0000;
  height: rem(10);
  bottom: 0px;
  position: absolute;
  width: 100%;

  .thumb {
    background-color: #ffffff;
    height: rem(10);
  }
}