@value globals: "../GlobalStyles.css";
@value screen-md from globals;

.Viewer {
  height: 100%;
  width: 100%;
  background-color: black;
}

.Viewer .LoadingIndicator {
  background: black !important;
}

.Viewer .toolbar-row {
  display: flex;
  width: 100%;
}

.Viewer .viewport-section {
  width: 100%;
  height: calc(100% - 238px);
  position: relative;
  display: flex;
}

.Viewer .viewport-section .viewport {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  width: 100%;
}

@media (min-width: screen-md) {
  .Viewer .viewport-section {
    height: calc(100% - 147px);
  }
}
