.menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  border-left: rem(1) solid $light-blue;
  background-color: $black;
  color: $light-blue;
  z-index: 100;
  transition: all 1s;

  &.opened {
    width: rem(160);
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: rem(10);

      &.separator {
        border: rem(1) solid $light-blue;
        height: 0px;
      }

      a {
        color: $light-blue;
        text-decoration: none;
      }
    }
  }
}

#loading-progress {
  color: #9ccef9;
  z-index: 2;
  position: absolute;
  padding: 5px;
}
