$tablet-font-size: rem(30);
$white: #efefef;
$blue: #00a4d9;
$light-blue: #9ccef9;
$dark-blue: #20a5d6;

.sign-up {
  border: none;
  padding: rem(15);
  font-size: rem(20);
  width: 100%;
  background-color: #aaaaaa;
  color: #FFFFFF;
  border-radius: 0px;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    background-color: #605f5f;
  }
}

.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: $white;
  padding: 10px;

  .info-section {
    margin: auto;
    margin-bottom: rem(30);

    a {
      text-decoration: none;
      color: $light-blue;

      &:hover {
        color: $dark-blue;
      }

      &:active {
        color: $white;
      }
    }
  }

  .logo-header {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
  }

  h1.logo-header {
    font-weight: 700;
  }

  .qtim-logo {
    cursor: pointer;
    text-decoration: none;
    color: $white;

    h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 30px;
      margin: 0;
    }
  }

  .tcia-logo {
    cursor: pointer;
    text-decoration: none;
  }

  .ohif-logo {
    display: block;
    margin: rem(15) auto;
    cursor: pointer;
    width: 265px;
    height: 30px;
    text-decoration: none;

    .ohif-icon {
      float: left;
      display: inline-block;
      fill: transparent;
      height: 100%;
      margin: 0 8px 0 0;
      width: 30px;
    }

    .ohif-logo-text {
      float: left;
      display: inline-block;
      font-family: "Sanchez";
      color: white;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      text-decoration: none;
    }
  }
  
  .logo-section {
    padding: rem(40);
    text-align: center;

    img {
      margin: 0 auto;
    }
  }

  .login-form {
    margin: auto;
    max-width: rem(600);

    .submit {
      border: none;
      padding: rem(15);
      font-size: rem(20);
      width: 100%;
      background: #337ab7;
      color: #FFFFFF;
      border-radius: 0px;
      cursor: pointer;

      &:hover {
        background-color: #286090
      }

      .loading {
        animation: rotate 1.2s linear infinite;
        width: rem(20);
        height: rem(15);
      }
    }

    .form-checkbox {
      font-size: rem(25);
      margin-bottom: rem(15);
    }

    .form-input {
      background-color: #ffffff;
      padding: rem(10);
      border: rem(1) solid #808080;
      margin-bottom: rem(15);
      position: relative;
  
      .input-icon {
        fill: $light-blue;
        stroke: $light-blue;
        width: rem(35);
        height: rem(30);
        margin-right: rem(10);
        background-color: $white;
        float: left;

        &.caret {
          position: absolute;
          right: 0px;
        }
      }

      input, select {
        border: none;
        font-size: rem(23);

        &:focus {
          outline-width: 0;
        }
      }

      input {
        width: 75%;
      }

      select {
        background-color: #ffffff;
        -webkit-appearance: none;
        width: 69%;
      }
    }
  }
}
