$tablet-font-size: rem(30);

.sign-up {
  border: none;
  padding: rem(15);
  font-size: rem(20);
  width: 100%;
  background-color: #aaaaaa;
  color: #FFFFFF;
  border-radius: 0px;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    background-color: #605f5f;
  }
}

.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: $white;
  padding: 0 5px 0 5px;

  .login-form {
    margin: auto;

    .submit {
      border: none;
      padding: rem(15);
      font-size: rem(20);
      width: 100%;
      background: #337ab7;
      color: #FFFFFF;
      border-radius: 0px;
      cursor: pointer;

      &:hover {
        background-color: #286090
      }

      .loading {
        animation: rotate 1.2s linear infinite;
        width: rem(20);
        height: rem(15);
      }
    }

    .form-checkbox {
      font-size: rem(25);
      margin-bottom: rem(15);
    }

    .form-input {
      background-color: #ffffff;
      padding: rem(10);
      border: rem(1) solid #808080;
      margin-bottom: rem(15);
  
      .input-icon {
        fill: $light-blue;
        stroke: $light-blue;
        width: rem(35);
        height: rem(30);
        margin-right: rem(10);
        background-color: white;
        float: left;
      }

      input, select {
        border: none;
        font-size: rem(23);
        width: 80%;

        &:focus {
          outline-width: 0;
        }
      }
    }
  }
}
