.login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: $white;

  .login-box {
    border: $blue solid rem(1);
    padding: rem(15);
    border-radius: rem(5);
    margin: auto;

    button.signup {
      /*float: right;*/
      height: 2rem;
      width: 100%;
    }

    .clear-both {
      clear: both;
    }

    .signup-divider {
      margin: 0.5rem 0 0.5rem 0;
      color: #9ccef9;
      text-align: center;
    }

    form {
      .form-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(10);
        color: $light-blue;

        label {
          margin-right: rem(5);
        }
      }
    }
    
    button.submit {
      float: right;
      width: 100%;

      img.loading {
        width: rem(10);
        position: relative;
        top: rem(1);
      }
    }
  }
}
