@value globals: "../GlobalStyles.css";
@value primaryBackgroundColor, textPrimaryColor, uiBlack from globals;
@value screen-xs, screen-sm, screen-md, screen-lg from globals;

@value boxContentBg: #1577b0;
@value boxHeaderBg: #00588a;
@value textColor: primaryBackgroundColor;

.AchievementSection.InfoBox {
  background-color: boxContentBg;
}

.AchievementSection.InfoBox .boxHeader {
  background-color: boxHeaderBg;
}

.AchievementSection .singleBadge {
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.AchievementSection .badgesGroup {
  cursor: pointer;
  margin: 0 auto 2px;
  width: 272px;
}

.AchievementSection .moreBadges {
  display: inline-block;
  color: textColor;
  font-size: 40px;
  font-weight: bold;
  line-height: 68px;
  padding-left: 3px;
  transition: color 0.3s ease;
}

.AchievementSection .viewAll {
  color: textColor;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  transition: color 0.3s ease;
}

.AchievementDetails {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  display: flex;
  margin: 10px 0;
  padding: 10px 20px;
  position: relative;
}

.AchievementDetails .info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
}

.AchievementDetails .info .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.AchievementDetails .info .description {
  font-size: 15px;
}

.AchievementDetails .info .progress {
  background-color: #28008c;
  border: 1px solid #40297b;
  border-radius: 8px;
  height: 16px;
  margin-top: 5px;
  overflow: hidden;
}

.AchievementDetails .info .current {
  background-color: #7cf4fe;
  font-size: 15px;
  height: 100%;
  line-height: 14px;
  position: relative;
}

.AchievementDetails .info .current:not(.after) {
  color: uiBlack;
  text-align: center;
}

.AchievementDetails .info .current.after {
  color: #ffffff;
}

.AchievementDetails .info .current.after .value {
  display: table;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(calc(100% + 10px));
}

.AchievementDetails .date {
  font-size: 15px;
  position: absolute;
  right: 20px;
  top: 8px;
}

.AchievementDetails.active .info .progress {
  display: none;
}

.AchievementDetails.inactive .date {
  display: none;
}

@media (min-width: screen-xs) {
  .AchievementSection .badgesContent {
    padding-top: 15px;
  }

  .AchievementSection .badgesGroup {
    margin-bottom: 0;
  }

  .AchievementSection .AchievementBadge {
    height: 92px;
    width: 92px;
  }

  .AchievementSection .moreBadges {
    line-height: 92px;
    padding-left: 15px;
  }

  .AchievementSection .viewAll {
    padding: 14px 0 10px;
  }
}

@media (min-width: screen-sm) {
  .AchievementSection .badgesGroup:hover .viewAll,
  .AchievementSection .badgesGroup:hover .moreBadges {
    color: textPrimaryColor;
  }

  .AchievementSection .AchievementBadge {
    transition: transform 0.3s ease;
  }

  .AchievementSection .AchievementBadge:hover {
    transform: scale(1.1);
  }

  .AchievementSection.InfoBox .boxContent {
    padding-bottom: 26px;
  }
}

@media (min-width: screen-md) {
  .AchievementSection .badgesContent {
    margin: 0 auto;
    max-width: 540px;
    padding-top: 35px;
  }

  .AchievementSection .badgesGroup {
    margin-left: 14px;
    margin-right: 10px;
  }

  .AchievementSection .viewAll {
    padding: 20px 0;
  }
}

@media (min-width: screen-lg) {
  .AchievementSection .badgesContent {
    max-width: 600px;
  }

  .AchievementSection .badgesGroup {
    margin-left: 30px;
    margin-right: 0;
  }

  .AchievementSection .viewAll {
    padding: 20px 0;
  }
}
