@value globals: "../GlobalStyles.css";
@value primaryBackgroundColor, textPrimaryColor, textSecondaryColor, textActiveColor from globals;
@value screen-sm, screen-md, screen-lg from globals;

.badgeName {
  text-align: center;
}

.rankBadge.not-received img {
  opacity: 0.25;
}

.ActivityProgressSection.InfoBox {
  background-color: #472e93;
}

.ActivityProgressSection.InfoBox .boxHeader {
  background-color: #2f1973;
}

.ActivityProgressSection .rankBadge {
  display: inline-block;
}

.ActivityProgressSection .rankBadge img {
  cursor: pointer;
  height: 92px;
  width: 92px;
  transition: transform 0.3s ease;
  vertical-align: top;
}

.ActivityProgressSection .measurementsCount {
  color: textActiveColor;
  display: inline-block;
  font-size: 61px;
  font-weight: 500;
  line-height: 92px;
  margin-left: 10px;
  vertical-align: top;
}

.ActivityProgressSection .leaderboardRank {
  padding-top: 10px;
}

.ActivityProgressSection .leaderboardRank .position {
  background-color: primaryBackgroundColor;
  border: solid 1px #9c7dfb;
  border-radius: 21px 3px;
  color: textActiveColor;
  font-size: 30px;
  font-weight: normal;
  height: 42px;
  line-height: 42px;
  margin-left: auto;
  text-align: center;
  width: 95px;
}

.ActivityProgressSection .leaderboardRank .description {
  color: textPrimaryColor;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 10px;
  margin-left: auto;
  text-align: center;
  width: 95px;
}

.ActivityProgressSection .progressBarContainer {
  padding: 0 20px;
}

@media (min-width: screen-sm) {
  .ActivityProgressSection.InfoBox .boxContent {
    padding-top: 0;
  }

  .ActivityProgressSection .rankBadge img {
    height: 130px;
    width: 130px;
  }

  .ActivityProgressSection .measurementsCount {
    font-size: 82px;
    line-height: 130px;
    margin-left: 20px;
  }

  .ActivityProgressSection .plusPoints {
    font-size: 60px;
    top: -70px;
    left: 90px;
  }

  .ActivityProgressSection .rankBadge:hover img {
    transform: scale(1.1);
  }
}

@media (min-width: screen-md) {
  .ActivityProgressSection .rankBadge img {
    height: 160px;
    width: 160px;
  }

  .ActivityProgressSection .measurementsCount {
    line-height: 160px;
  }

  .ActivityProgressSection .progressBarContainer {
    padding: 0 30px;
  }
}

@media (min-width: screen-lg) {
  .ActivityProgressSection .InfoBox .boxContent {
    padding-top: 10px;
  }

  .ActivityProgressSection .progressBarContainer {
    margin-bottom: 20px;
    padding: 0 40px;
  }
}
