@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor from globals;

.ActivityProgressSection .title {
  color: textPrimaryColor;
}

.ActivityProgressSection .currentPoints {
  position: relative;
}

.ActivityProgressSection .value {
  color: textPrimaryColor;
  font-weight: bold;
  font-size: 81px;
  line-height: 81px;
}

.ActivityProgressSection .suffix {
  font-variant-caps: small-caps;
  font-size: 15px;
  color: textSecondaryColor;
}

.ActivityProgressSection .medalContainer {
  position: absolute;
  top: 15px;
  left: -100px;
  width: 100px;
  text-align: center;
}

.ActivityProgressSection .medalContainer .medal-wrapper {
  margin: 0 auto;
  display: block;
}

.ActivityProgressSection .rank {
  display: block;
  padding: 15px 0;
  color: textSecondaryColor;
  overflow-wrap: break-word;
}
