@value globals: "../GlobalStyles.css";
@value textSecondaryColor, textActiveColor, screen-sm from globals;

.AutoLogoutCountdown {
  margin: 0 15px 10px 15px;
  display: inline-block;
  line-height: 40px;
}

.AutoLogoutCountdown span {
  color: textSecondaryColor;
  font-size: 17px;
}

.AutoLogoutCountdown .timer {
  color: textActiveColor;
  font-size: 27px;
  font-weight: bold;
  margin: 0 9px;
}

@media (min-width: screen-sm) {
  .AutoLogoutCountdown .timer {
    font-size: 36px;
  }
}
