@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textActiveColor, screen-md from globals;

.CaseTypeSectionTitle {
  color: textActiveColor;
  margin: 60px 0 26px 0;
  font-size: 24px;
}

@media (min-width: screen-md) {
  .CaseTypeSectionTitle {
    margin: 80px 0 26px 0;
  }
}
