@value globals: "./../GlobalStyles.css";
@value textPrimaryColor from globals;

@value headerHeight: 44px;
@value infoboxRadius: 6px;
@value infoboxShadow: 13px 13px 0 0 #030628;

.InfoBox {
  background-color: #472e93;
  border-radius: infoboxRadius;
  box-shadow: infoboxShadow;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 0;
}

.InfoBox .boxHeader {
  background-color: #2f1973;
  color: textPrimaryColor;
  font-size: 16px;
  font-weight: 600;
  height: headerHeight;
  line-height: headerHeight;
  padding: 0 15px;
}

.InfoBox .boxContent {
  padding: 10px;
}
