@value globals: "../GlobalStyles.css";
@value activeColor from globals;

.LeaderboardItem {
  align-items: center;
  border-bottom: solid 1px #58438d;
  display: flex;
  flex: 1 1;
  margin: 0 16px;
  padding: 5px 0;
  width: calc(50% - 32px);
}

.LeaderboardItem .rank {
  align-items: center;
  background-color: #6c0ad6;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-size: 31px;
  font-weight: 600;
  justify-content: center;
  margin-right: 10px;
  min-height: 43px;
  min-width: 50px;
  text-align: center;
  width: 50px;
}

.LeaderboardItem .score {
  color: activeColor;
  font-size: 43px;
  font-weight: 600;
  margin-right: 10px;
  min-width: 120px;
  width: 120px;
}

.LeaderboardItem .name {
  flex: 1;
  display: block;
  align-items: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
