@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textActiveColor from globals;

.Logo {
  cursor: pointer;
  display: inline-block;
}

.Logo .logoText {
  color: textPrimaryColor;
  font-size: 17px;
  font-weight: bold;
}

.Logo .logoText.highlight {
  color: textActiveColor;
}
