@value globals: "../GlobalStyles.css";
@value medalBorderColor, screen-sm from globals;

.medal-bg {
  background: white;
  transform: rotate(45deg);
  border-color: medalBorderColor;
  border-style: solid;
  border-width: 5px;
  height: 67px;
  width: 67px;
}

.medal-bg .medal {
  object-fit: contain;
  transform: rotate(-45deg);
  height: 50px;
  margin: 7px;
  width: 50px;
}
