@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor from globals;

.ProgressBar {
  width: 100%;
  height: 12px;
  margin: 10px 0;

  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /*filter: blur(1px);
  -webkit-filter: blur(1px);*/
}

.ProgressBar::-webkit-progress-bar {
  background: #544d79;
}

.ProgressBar[value].notransition::-webkit-progress-value {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.ProgressBar[value]::-webkit-progress-value {
  background-image: linear-gradient(to right, #79f9fe, #b994fe);
  transition: all 1.7s linear;
}
