@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor, textActiveColor, screen-sm from globals;

.ProgressSection .title {
  font-weight: bold;
  font-size: 18px;
  color: textPrimaryColor;
}

.ProgressSection .numberCases {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.ProgressSection .currentPoints {
  margin-left: 25px;
  position: relative;
}

.ProgressSection .value {
  transition: all 0.1s linear;
  display: inline-block;
  color: textPrimaryColor;
  font-weight: 600;
  font-size: 43px;
  line-height: normal;
  margin-left: 10px;
  position: relative;
  top: 0px;
}

.ProgressSection .suffix {
  display: inline-block;
  font-variant-caps: small-caps;
  font-size: 13px;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
  color: textSecondaryColor;
}

.ProgressSection .plusPoints {
  transition: all 0.3s linear;
  color: textActiveColor;
  position: absolute;
  font-size: 33px;
  font-weight: 600;
  top: -35px;
  left: 55px;
  opacity: 0;
}

.ProgressSection .progressBarContainer {
  margin: 10px 42px 24px;
}

.ProgressSection .progressLow {
  float: left;
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.ProgressSection .progressHigh {
  float: right;
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.ProgressSection .fadeInAndSlideDown {
  opacity: 1;
  top: -35px;
}

.ProgressSection .fadeOutAndSlideDown {
  opacity: 0;
  top: -10px;
}

.ProgressSection .moveDown {
  position: relative;
  top: 22px;
}

.ProgressSection .rankBadge img {
  height: 100px;
  width: 100px;
}

@media (min-width: screen-sm) {
  .ProgressSection .rankBadge img {
    height: 130px;
    width: 130px;
  }

  .ProgressSection .plusPoints {
    font-size: 60px;
    top: -110px;
    right: 110px;
  }

  .ProgressSection .fadeInAndSlideDown {
    top: -70px;
  }

  .ProgressSection .fadeOutAndSlideDown {
    top: 0px;
  }

  .ProgressSection .value {
    font-size: 120px;
  }

  .ProgressSection .suffix {
    font-size: 22px;
    margin-top: 15px;
  }
}
