@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor from globals;

.ProgressSection {
  width: 452px;
  height: 145px;
  margin: 20px;
}

.ProgressSection .title {
  font-weight: bold;
  font-size: 18px;
  color: textPrimaryColor;
}

.ProgressSection .value {
  display: block;
  color: textPrimaryColor;
  font-weight: bold;
  font-size: 81px;
  line-height: 81px;
}

.ProgressSection .suffix {
  display: block;
  font-variant: small-caps;
  font-size: 16pt;
  color: textSecondaryColor;
}
