@value globals: "../GlobalStyles.css";
@value rankBadgeBorderColor, screen-sm from globals;

.rankBadge img {
  height: 100px;
  width: 100px;
}

@media (min-width: screen-sm) {
  .rankBadge img {
    height: 130px;
    width: 130px;
  }
}
