@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor from globals;

.RankingItem {
  color: textPrimaryColor;
  margin-bottom: 10px;
}

.RankingItem .number {
  color: textPrimaryColor;
  font-size: 20px;
  font-weight: bold;
  line-height: 0px;
}

.RankingItem .text {
  color: textSecondaryColor;
  font-size: 18px;
  padding-left: 10px;
  font-weight: normal;
  line-height: 0px;
}
