@value globals: "../GlobalStyles.css";
@value textActiveColor, textSecondaryColor from globals;

.RankingSection {
  padding: 10px;
}

.RankingSection .title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: textActiveColor;
}

.RankingSection .list {
  display: block;
  border-left: 1px solid textSecondaryColor;
  padding-left: 15px;
  list-style-type: none;
}
