@value globals: "../GlobalStyles.css";
@value rankBadgeBorderColor, screen-sm from globals;

.rankBadgeContainer > .rankBadge img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

@media (min-width: screen-sm) {
  .rankBadgeContainer > .rankBadge img {
    height: 130px;
    width: 130px;
  }
}
