@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textSecondaryColor from globals;

.RankingItem {
  color: textPrimaryColor;
}

.RankingItem .number {
  color: textPrimaryColor;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}

.RankingItem .text {
  color: textSecondaryColor;
  font-size: 16px;
  padding-left: 10px;
  font-weight: normal;
  line-height: 1.93;
}
