@value globals: "../GlobalStyles.css";
@value textActiveColor, textSecondaryColor from globals;

.RankingSection {
  margin: 10px 0 25px 0;
}
.RankingSection .title {
  font-size: 18px;
  font-weight: bold;
  color: textActiveColor;
}

.RankingSection .list {
  display: block;
  padding-left: 15px;
  margin: 20px 0 0 0;
  list-style-type: none;
}

.RankingSection .listWrapper {
  border-left: 1px solid textSecondaryColor;
}

.RankingSection .viewAllLink {
  margin-left: 15px;
  color: #79f9fe;
  font-size: 14px;
  text-decoration: none;
}
