@value globals: "../GlobalStyles.css";
@value textPrimaryColor, textActiveColor, screen-sm from globals;

.simpleHeader {
  background-color: #1e1d39;
  padding: 15px 20px;
  margin-bottom: 30px;
}

.simpleHeader .logo {
  display: inline-block;
}

.simpleHeader .logoutSection {
  float: right;
}

.simpleHeader .logoutSection .username {
  font-size: 15px;
  font-weight: normal;
  color: #b8baee;
  padding-right: 10px;
}

.simpleHeader .logoutSection .logoutButton {
  color: #71f7fe;
  border-left: 1px solid #b8baee;
  padding-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

@media (min-width: screen-sm) {
  .simpleHeader .logoText {
    font-size: 20px;
  }
}
