@value globals: "../GlobalStyles.css";
@value textActiveColor, screen-lg from globals;

.StatisticsSection .subTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0px;
  color: textActiveColor;
}

@media (min-width: screen-md) {
  .StatisticsSection .subTitle {
    margin-top: 0px;
  }
}
