@value globals: "../GlobalStyles.css";
@value textActiveColor, textSecondaryColor from globals;

.StatisticsCard {
  border-left: 1px solid textSecondaryColor;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 24px;
  font-weight: 600;
}

.StatisticsCard .number {
  display: block;
  font-weight: 600;
  font-size: 52px;
  line-height: 32px;
  margin-bottom: 14px;
  color: textActiveColor;
}

.StatisticsCard .description {
  display: block;
  font-weight: 400;
  font-size: 13px;
  color: textSecondaryColor;
  line-height: 16px;
}
