@value globals: "../../GlobalStyles.css";
@value screen-min, screen-xs-max, screen-sm-max from globals;

.NotificationContainer {
  position: fixed;
  right: 366px;
  top: 38px;
  width: 330px;
  z-index: 150;
}

.NotificationContainer .Notification {
  align-items: center;
  animation: notificationIn 0.3s ease;
  background-color: #22193d;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}

.NotificationContainer .Notification.fadingOut {
  animation: notificationOut 0.3s ease;
}

.NotificationContainer .Notification .icon {
  display: inline-block;
  height: 50px;
  margin-right: 15px;
  min-width: 50px;
  vertical-align: middle;
  width: 50px;
}

.NotificationContainer .Notification .icon img {
  width: 50px;
  height: 50px;
}

/* TODO: [layout] Change for SVG icon when available */
.NotificationContainer .Notification .icon .default {
  background-color: #410988;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  font-size: 36px;
  font-weight: 100;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.NotificationContainer .Notification .notificationText {
  font-size: 16px;
}

.NotificationContainer .Notification .notificationText .title {
  color: #ffffff;
  line-height: 1.31;
  margin: 0;
}

.NotificationContainer .Notification .notificationText .message {
  color: #aca2cd;
}

@media (max-width: screen-sm-max) {
  .NotificationContainer {
    top: 16px;
  }
}

@media (max-width: screen-xs-max) {
  .NotificationContainer {
    right: 40px;
    top: 80px;
  }
}

@media (max-width: screen-min) {
  .NotificationContainer {
    right: 5px;
    top: 4px;
    width: calc(100% - 10px);
  }

  .NotificationContainer .Notification {
    padding: 5px;
  }
}

@keyframes notificationIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(2%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes notificationOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
