html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Work Sans', 'SF Pro Text', 'Roboto', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.fixed-page {
  position: fixed;
  overflow: hidden;
}

.component-transition-enter-active {
  opacity: 0.5;
}

.component-transition-enter-done {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.component-transition-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.component-transition-exit-done {
  opacity: 0.5;
}
