html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px; /*removes default style*/
  box-sizing: border-box;
  font-family: 'WorkSans', 'SF Pro Text', 'Roboto', 'Helvetica Neue', sans-serif;
}
