@value globals: "./GlobalStyles.css";
@value primaryBackgroundImage, textPrimaryColor, textSecondaryColor, textActiveColor, screen-md, screen-lg from globals;

.Dashboard {
  height: 100%;
  background-image: primaryBackgroundImage;
  overflow-y: auto;
  padding-bottom: 15px;
}

.Dashboard .Logout {
  color: textPrimaryColor;
}

.Dashboard .rankingGroupSection {
  margin-top: 10px;
}

.Dashboard .hidden-version-text {
  color: transparent;
  cursor: default;
}

.DashboardTooltip {
  background-color: uiGrayDarker !important;
  color: textSecondaryColor !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

@media (min-width: screen-md) {
  .Dashboard .rankingGroupSection {
    margin-top: 65px;
  }
}

@media (min-width: screen-lg) {
  .Dashboard .rankingGroupSection {
    margin-top: 0px;
  }
}
