@value globals: "./GlobalStyles.css";
@value primaryBackgroundImage, textPrimaryColor, textActiveColor from globals;

.Dashboard {
  height: 100%;
  padding: 0 172.5px;
  background-image: primaryBackgroundImage;
  overflow-y: auto;
}

.Dashboard .Logout {
  color: textPrimaryColor;
}
