@value globals: "./GlobalStyles.css";
@value primaryBackgroundImage, textPrimaryColor, textActiveColor from globals;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
  font-family: 'WorkSans', 'SF Pro Text', 'Roboto', 'Helvetica Neue', sans-serif;
}

.Dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
  background-image: primaryBackgroundImage;
}

.column {
  height: 100%; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column; /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0; /*makes sure that content is not cut off in a smaller browser window*/
}

#right {
  flex-grow: 1;
}

.top-left {
  flex-shrink: 0;
}

.logo {
  width: 327px;
  height: 24px;
  padding: 10px;
}

.logoText {
  color: textPrimaryColor;
  font-size: 20px;
  font-weight: bold;
}

.logoText.highlight {
  color: textActiveColor;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
}

nav {
  cursor: pointer;
}

.Logout {
  color: textPrimaryColor;
}
