/* State palette */
@value uiStateError: #FFCCCC;
@value uiStateErrorBorder: #993333;
@value uiStateErrorText: #661111;

@value uiUsernameText: #a592d2;

@value uiBlack: #000000;
@value uiGrayLight: #516873;
@value uiGray: #263340;
@value uiGrayDark: #16202B;
@value uiGrayDarker: #151A1F;
@value uiGrayDarkest: #14202A;

/* Interface UI Colors */
@value defaultColor: #9CCEF9;
@value hoverColor: #ffffff;
@value activeColor: #7cf4fe;
@value secondaryColor: #b994fe;
@value uiBorderColor: #44626F;
@value uiBorderColorDark: #3C5D80;
@value uiBorderColorActive: #79f9fe;
@value primaryBackgroundColor: #140046;
@value boxBackgroundColor: #3E5975;
@value rankBadgeBorderColor: #605886;
@value viewerHeaderColor: #262548;

/* Text Colors */
@value textActiveColor: activeColor;
@value textPrimaryColor: #ffffff;
@value textSecondaryColor: #b8baee;
@value largeNumbersColor: #6FBDE2;
@value textDisabledColor: #878787;

/* Other Colors */
@value progressBackgroundColor: primaryBackgroundColor;
@value progressPrimaryColor: activeColor;
@value progressSecondaryColor: secondaryColor;
@value imageSliderColor: #163239;

/* Screen resolutions */
@value 640p: 640px;
@value 1024p: 1024px;
@value 1366p: 1366px;
@value 1680p: 1680px;
@value 1920p: 1920px;
@value 2880p: 2880px;
@value 3840p: 3840px;

/* Grid breakpoints */
@value screen-xs: 640p;
@value screen-sm: 1024p;
@value screen-md: 1366p;
@value screen-lg: 1680p;
@value screen-xl: 1920p;
@value gutter: 12.5px;
@value negativeGutter: -12.5px;

/* Dimensions */
@value dashboardInfo-lg: calc(100vw / 3);

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (min-width: 2880p) {
  body {
    zoom: 1.5;
  }
}

@media (min-width: 3840p) {
  body {
    zoom: 2;
  }
}
