/* State palette */
@value uiStateError: #FFCCCC;
@value uiStateErrorBorder: #993333;
@value uiStateErrorText: #661111;

@value uiUsernameText: #a592d2;

@value uiGrayLight: #516873;
@value uiGray: #263340;
@value uiGrayDark: #16202B;
@value uiGrayDarker: #151A1F;
@value uiGrayDarkest: #14202A;

/* Interface UI Colors */
@value defaultColor: #9CCEF9;
@value hoverColor: #ffffff;
@value activeColor: #7cf4fe;
@value uiBorderColor: #44626F;
@value uiBorderColorDark: #3C5D80;
@value uiBorderColorActive: #79f9fe;
@value primaryBackgroundColor: #140046;
@value boxBackgroundColor: #3E5975;
@value rankBadgeBorderColor: #605886;
@value viewerHeaderColor: #262548;

/* Text Colors */
@value textActiveColor: #7cf4fe;
@value textPrimaryColor: #ffffff;
@value textSecondaryColor: #b8baee;
@value largeNumbersColor: #6FBDE2;
@value textDisabledColor: #878787;

/* Other Colors */
@value imageSliderColor: #163239;

/* Grid breakpoints */
@value screen-sm: 1024px;
@value screen-md: 1280px;
@value screen-lg: 1920px;
@value screen-xl: 1920px;
@value gutter: 12.5px;
@value negativeGutter: -12.5px;

@value screen-mobile: 0px;
@value screen-tablet: 1024px;
@value screen-desktop: 1280px;
@value screen-desktop-lg: 1920px;

/* Dimensions */
@value dashboardInfo-desktop-lg: 35vw;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
