@value globals: "./GlobalStyles.css";
@value primaryBackgroundColor from globals;

.Leaderboard {
  height: 100%;
  background-color: primaryBackgroundColor;
  overflow-y: auto;
  padding-bottom: 15px;
}

.Leaderboard .title-container {
  justify-content: space-evenly;
  margin: 10px auto;
}

.Leaderboard .title {
  font-style: italic;
  color: #317bb1;
  font-size: 40px;
  font-weight: 600;
  padding-left: 0;
}

.top-individuals,
.top-groups {
  margin-top: 50px;
}

.top-individuals-container,
.top-groups-container {
  margin: 0 auto;
  justify-content: space-evenly;
}

.top-individuals-container {
  max-height: 410px;
  overflow-y: auto;
}

.top-groups-container {
  max-height: 260px;
  overflow-y: auto;
}
