@value globals: "./GlobalStyles.css";
@value primaryBackgroundColor, activeColor from globals;

.Leaderboard {
  overflow-y: scroll;
  padding: 5px 24px 50px;
}

.Leaderboard .Logo {
  font-size: 32px;
  margin: 20px 16px 0;
  white-space: nowrap;
}

.Leaderboard .section {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.Leaderboard .list {
  margin-top: 20px;
}

.Leaderboard .section h2 {
  color: activeColor;
  display: flex;
  font-size: 36px;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
  white-space: nowrap;
}

.Leaderboard .section h2 img {
  margin: 0 16px;
}

.Leaderboard .sectionIndividuals .LeaderboardItem {
  max-height: 66px;
  min-height: 66px;
}

.Leaderboard .sectionTeams .LeaderboardItem {
  max-height: 56px;
  min-height: 56px;
}

.Leaderboard .sectionIndividuals .LeaderboardItem:nth-child(n+21) {
  display: none;
}

.Leaderboard .sectionTeams .LeaderboardItem:nth-child(n+7) {
  display: none;
}

@media (min-width: 1366px) {
  .Leaderboard .sectionIndividuals .list {
    height: 660px;
  }

  .Leaderboard .sectionTeams .list {
    height: 168px;
  }

  .Leaderboard .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

@media (max-width: 1679px) {
  .Leaderboard .LeaderboardItem .name {
    flex-direction: column;
    justify-content: center;
  }

  .Leaderboard .LeaderboardItem .name > span {
    width: 100%;
  }

  .Leaderboard .LeaderboardItem .name .team {
    background-color: transparent;
    height: auto;
  }

  .Leaderboard .LeaderboardItem .name .team span {
    display: block;
    opacity: 0.5;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 1365px) {
  .Leaderboard .LeaderboardItem {
    width: calc(100% - 32px);
  }
}
