$white: #efefef;
$blue: #00a4d9;
$light-blue: #9ccef9;
$black: #000;
$light-black: #16202b;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: $black;
}

.invisible {
  display: none !important;
}

button.submit {
  background-color: black;
  border: 1px solid $blue;
  border-radius: 5px;
  color: $light-blue;
}

@import './mixins';
@import './login/login';
@import './viewer/viewer';