@value globals: "./GlobalStyles.css";
@value primaryBackgroundImage, textPrimaryColor, textActiveColor from globals;

.SessionSummary {
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 172.5px;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
  background-image: primaryBackgroundImage;
}

.SessionSummary .title-wrapper {
  text-align: center;
  margin-top: 25px;
}

.SessionSummary .title-wrapper .title {
  font-size: 34px;
  font-weight: 500;
  font-style: italic;
  color: textActiveColor;
}

.SessionSummary .communityStats {
  width: 62.5%;
  display: inline-flex;
  margin-top: 50px;
}

.SessionSummary .rankingStats {
  width: 37.5%;
  display: inline-flex;
  margin-top: 50px;
}

.SessionSummary .LogoutSection {
  margin-top: 50px;
}

.ProgressSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.RankingSection {
  width: 50%;
}

.StatisticsSection {
  width: 100%;
}
