@value globals: "./GlobalStyles.css";
@value primaryBackgroundColor, textPrimaryColor, textActiveColor, screen-sm from globals;

.SessionSummary {
  background-color: primaryBackgroundColor;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 15px;
}

.SessionSummary .title-wrapper {
  text-align: center;
}

.SessionSummary .title-wrapper .title {
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  color: textActiveColor;
}

.SessionSummary .communityStats {
  margin-top: 120px;
}

.SessionSummary .rankingStats {
  margin-top: 15px;
}

.SessionSummary .RankingSection {
  margin: 10px 0 30px 0;
}

.SessionSummary .LogoutSection {
  margin-top: 100px;
}

.SessionSummary .ProgressSection {
  margin-top: 100px;
}

@media (min-width: screen-sm) {
  .SessionSummary .title-wrapper .title {
    font-size: 34px;
  }

  .SessionSummary .title-wrapper {
    margin-top: 25px;
  }

  .SessionSummary .communityStats {
    margin-top: 120px;
  }

  .SessionSummary .rankingStats {
    margin-top: 150px;
  }

  .SessionSummary .LogoutSection {
    margin-top: 110px;
  }

  .SessionSummary .ProgressSection {
    margin-top: 100px;
  }
}
