@value globals: "./GlobalStyles.css";
@value primaryBackgroundColor, textPrimaryColor, textActiveColor from globals;
@value screen-xs-max, screen-sm-max, screen-md-max from globals;

.SessionSummary {
  background-color: primaryBackgroundColor;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 15px;
  position: relative;
}

.SessionSummary .Logo {
  left: 27px;
  position: absolute;
  top: 19px;
}

.SessionSummary h1 {
  color: textActiveColor;
  font-size: 34px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  margin: 130px 0 43px;
  padding-left: 25px;
  text-transform: uppercase;
}

.SessionSummary .cardSection {
  background-color: #472e93;
  border-radius: 9px;
  box-shadow: 13px 13px 0 0 #030628;
  margin-top: 20px;
  padding: 17px 23px;
}

.SessionSummary .cardSection h2 {
  color: #ffffff;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  line-height: 34px;
  margin: 0;
  text-transform: uppercase;
}

.SessionSummary .sessionTotalValue {
  color: textActiveColor;
  font-size: 102px;
  font-weight: 600;
  margin-top: -38px;
  text-align: center;
}

.SessionSummary .earnedBadgesSection {
  margin-top: 29px;
}

.SessionSummary .earnedBadgesSection .badge {
  background-color: rgb(59, 59, 189, 0.25);
  border-radius: 9px;
  height: 214px;
  margin-bottom: 25px;
}

.SessionSummary .LogoutSection {
  margin-top: 100px;
}

@media (max-width: screen-sm-max) {
  .SessionSummary h1 {
    margin-top: 100px;
    padding-left: 10px;
  }
}

@media (max-width: screen-xs-max) {
  .SessionSummary h1 {
    margin-bottom: 32px;
    margin-top: 60px;
    padding-left: 0;
  }

  .SessionSummary .sessionTotalValue {
    font-size: 80px;
    margin-top: 0;
  }
}
