.signup-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: $white;

  @media only screen and (min-device-width : $tablet-size-min) and (max-device-width : $tablet-size-max) {
    font-size: $tablet-font-size;
  }

  form {
    border: $blue solid rem(1);
    padding: rem(15);
    border-radius: rem(5);
    margin: auto;
    font-size: rem(27);

    .form-input {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(10);
      color: $light-blue;

      label {
        margin-right: rem(5);
      }

      @media only screen and (min-device-width : $tablet-size-min) and (max-device-width : $tablet-size-max) {
        input, select {
          font-size: $tablet-font-size;
        }

        input[type=radio] {
          transform: scale(1.5);
          margin: 15px 5px 0 0;
        }
      }

      select {
        font-size: rem(20);
        border-radius: rem(5);
      }

      input[type=radio] {
        transform: scale(1.5);
      }
    }

    button.submit {
      float: right;

      @media only screen and (min-device-width : $tablet-size-min) and (max-device-width : $tablet-size-max) {
        font-size: $tablet-font-size;
        margin-top: 20px;
        padding: 15px;
      }

      img.loading {
        width: rem(10);
        position: relative;
        top: rem(1);
      }
    }
  }
}
